<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load bootstrap4 %} {% bootstrap_css%} {% bootstrap_javascript jquery="full" %} {%load static %}
    <title>{%block title%}{%endblock%} | Shades of kishan</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Shades of kishan </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {%if request.user.is_authenticated%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'feeds'%}">My Feed`s <span class=" sr-only ">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profile'%}">My Profile<span class=" sr-only "></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout'%}">Logout<span class=" sr-only "></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'posts'%}">Add Post <span class=" sr-only ">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'myposts'%}">My Posts <span class=" sr-only ">(current)</span></a>
                </li>
                {%else%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login'%}">Login <span class=" sr-only ">(current)</span></a>
                </li>
                {%endif%}
                <!-- <li class="nav-item ">
                    <a class="nav-link " href="# ">Link</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled " href="# ">Disabled</a>
                </li> -->
            </ul>
            {%if request.user.is_authenticated%}
            <form class="form-inline my-2 my-lg-0 ">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">{{request.user.username}}</button>
            </form>
            {%endif%}
        </div>
    </nav>

</body>
{%block body%}{%endblock%}

</html>